<div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">{{project.name}}</h2>
                    <hr>
                </div>

                <div class="col-lg-8">
                    <h3><img class="img-responsive" src="{{project.imageUrl}}"></h3>
                </div>

                <div class="col-lg-4">
                    <h2 class = "intro-text">Project Description</h2>

                        <p>{{project.description}}</p>

                    <h2 class = "intro-text">Tools Used</h2>
                    <ul>
                        <li class = "web_text" ng-repeat="tools in project.technologies">{{tools}}</li>
                    </ul>
                    </br>

                    <div ng-if="project.quoteLink">
                        </br>
                        </br>
                        <i class="icon-quote"></i><p class="quote">As a result, one new mozillian,
                            <a target="_blank" href="https://mozillians.org/en-US/u/bjones/">Breana Jones</a>
                            , has really taken initiative. Last night she attended an IRC meetup with Mozilla Mexico, she’s added herself to the es-MX team wiki page, and has announced that she will coordinate the l10n efforts for Firefox for Android to ensure that it is launched in the multilocale builds with Firefox 30.</p>
                        <div class="web_text">
                            <a class="quote" target="_blank" href="{{project.quoteLink}}"> - Mozilla L10n Blog</a>
                        </div>
                        <br>
                        <hr ng-if="project.infoUrl">
                    </div>
                    <div ng-if="project.videoUrl">
                        </br>
                        <iframe width="300" height="169" src="http://www.youtube.com/embed/bQkIhJDd9fE" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                        <hr ng-if="project.codeUrl">

                    <a class="btn btn-primary" ng-if="project.infoUrl" target="_blank" href="{{project.infoUrl}}">GO TO PROJECT<span
                    class="glyphicon glyphicon-chevron-right"></span></a>&nbsp;&nbsp;
                    <a class="btn btn-primary" ng-if="project.codeUrl" target="_blank" href="{{project.codeUrl}}">VIEW SOURCE CODE <span
                    class="glyphicon glyphicon-chevron-right"></span></a>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                    <hr>
                        <h2 class="intro-text text-center">Related Projects</h2>
                    <hr>
                <div ng-repeat="relatedProject in projects">
                    <div ng-hide="project.id==relatedProject.id" class="col-md-3 col-sm-3 col-xs-6">
                            <a href="#/project/{{relatedProject.id}}"><img class="img-responsive" src={{relatedProject.imageUrl}}>&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
</div>    