<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Me</h1>

            <p>Short and sweet description of me. Keep it friendly, engaging, but short enough to where you won't lose
                your reader! Short and sweet description of me. Keep it friendly, engaging, but short enough to where
                you won't lose your reader!Short and sweet description of me. Keep it friendly, engaging, but short
                enough to where you won't lose your reader!Short and sweet description of me. Keep it friendly,
                engaging, but short enough to where you won't lose your reader!Short and sweet description of me. Keep
                it friendly, engaging, but short enough to where you won't lose your reader!Short and sweet description
                of me. Keep it friendly, engaging, but short enough to where you won't lose your reader!</p>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive" src="http://placehold.it/200x200">

            <h3 class="page-header">Breana Jones
                <small>Aspiring Junior Developer</small>
            </h3>
            <p><a class="btn btn-primary" target="_blank" href="mailto:breanajonesm@gmail.com">Say Hello</a></p>
        </div>
    </div>
</div>


<div class="container">


    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Relevant Experience</h3>
<div>
            <ul>
                <li><b>Job One </b><em>(Year-Year)</em></li>
                <span class="i">Location</span>
                    <ul>
                        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
                        <li>Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet</li>
                    </ul>
                <li><b>Job Two </b><em>(Year-Year)</em></li>
                <span class="i">Location</span>
                    <ul>
                        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
                        <li>Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet</li>
                    </ul>
                <li><b>Job Three </b><span class="i">(Year-Year)</span></li>
                <span class="i">Location</span>
                    <ul>
                        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
                        <li>Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet</li>
                    </ul>
                <li><b>Job Four </b><span class="i">(Year-Year)</span></li>
                <em>Location</em>
                    <ul>
                        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
                        <li>Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet Dolor Sit Amet</li>
                    </ul>
            </ul>
    </div>
        </div>
    </div>
    <div class="container">
        <!-- To upload go to Public folder in Dropbox, click on upload icon, upload resume and right click for public link-->
<br>
     <p><a class="btn btn-primary" target="_blank" href="https://dl.dropboxusercontent.com/u/56034820/Test-%20Resume.pages/preview-web.jpg">Download Full Resume</a></p>
    <h1 class="page-header"></h1>
    </div>
</div>



