<link rel="stylesheet" href="css/app.css"/>

<!--<div>
    {{project.name}}
    {{project.description}}
    {{project.imageURL}}
</div>
-->


<div class="container">

    <div class="row">

        <div class="col-lg-8">
            <h1 class="page-header">{{project.name}}</h1>
        </div>
        <div class="col-lg-4">
            <h1 class="page-header"><a class="btn btn-primary" href="#/home">Back to Projects</a></h1>
        </div>
    </div>


    <div class="col-md-8">
        <h3><img class="img-responsive" src="{{project.imageUrl}}"></h3>
    </div>

    <div class="col-md-4">
        <h3>Project Description</h3>

        <p>{{project.description}}</p>

        <h3>Project Details</h3>
        <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
        </ul>

        <hr>
        <a class="btn btn-primary" target="_blank" href="{{project.codeUrl}}">View Source Code <span
                class="glyphicon glyphicon-chevron-right"></span></a>


    </div>
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>
        <div class="col-sm-12">
            <div ng-repeat="relatedProject in projects">
                <span ng-hide="project.id==relatedProject.id" class="col-sm-3 col-xs-6"><a
                        href="#/project/{{relatedProject.id}}"><img class="img-responsive"
                                                                    src={{relatedProject.imageUrl}}></a></span>
            </div>
        </div>
    </div>


</div><!-- /.container -->

<div class="container">

    <hr>

</div><!-- /.container -->


